
body{
    background-color: white;
}
// REGISTER - UPDATE
.welcoming-register{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    justify-content: center;
    margin: 7rem auto 3rem;
    color: #361F5B;
    background: url('../img/register-transparency.png') no-repeat center;
    background-size: cover;
    height: 150%;
    text-align: center;
}
.label{
        font-size: 1.25rem;
}
.create-user{
    margin:17rem auto;
    position: relative;
    padding: 1rem;
}
.create-user .title{
    font-weight: 600;
    line-height: 4.2;
    text-align: center;
    font-size: 2.7rem;
}
.create-user .form-field{
    margin-top: 15px;
}


// LOGIN
.login-izq{
    height:100vh;
    width: auto;
    margin-top: 7rem;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/login-transparente.png');
    background-size: cover;
}
.logo-container-login{
    margin-left: -8rem;
    margin-top:-2rem;
}
.login-center{
    background-image: url('https://blush.design/api/download?shareUri=pXV78aFm4&w=800&h=800&fm=png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7rem;
    justify-content: center;
}
.login-center h1, .login-center h2{
    color: #361F5B;
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}
.login-center .form-control{
        width: 78%;
}
.error-login{
    color: red;
    font-size: 1.5rem;
    margin-left: 13rem;
    margin-top: 2rem;
}
.the-login-container{
    margin-top: 7rem;
    justify-content: center;
}
.button-green-login{
    background-color: #5FBC94;
    border:1px solid white;
    color: white;
    border-radius: 15px;
    margin-top: 3rem;
    padding: 0.25rem;
    font-size: 1rem;
    width: 80%;
   
}
.register-login .text-decoration{
    font-size: 1.10rem;
    color: #361F5B;
    margin-left: 22rem;
}

//LOGIN COMMERCE
.logo-container-login-commerce{
    margin-left: -7rem;
    margin-top:-2rem;
}
.login-commerce-izq{
    height:100vh;
    width: auto;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/login-commerce.png');
    margin-top: 8rem;

}
.login-center-commerce{
    background-image: url('https://blush.design/api/download?shareUri=pXV78aFm4&w=800&h=800&fm=png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7rem;
    justify-content: center;
    margin-left: -3rem;
}
.titles-login-commerce{
    padding-top: 1rem;
    padding-left: 2.25rem;
}
.login-center-commerce .form-control{
        width: 78%;
}

// GENERAL FORMS
.form-width{
    width: 100%;
 }

input:hover{
    background-color: #a0b8fc;
}
.profile-head {
    transform: translateY(5rem)
}
.commerce{
    font-size: 1.5rem;
    padding-top: 30px;
}








