
body{
    background-color: white;
}
// REGISTER - UPDATE
.welcoming-register{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    justify-content: center;
    margin: 7rem auto 3rem;
    color: #361F5B;
    background: url('../img/register-transparency.png') no-repeat center;
    background-size: cover;
    height: 150%;
    text-align: center;
}
.create-user{
    margin:17rem auto;
    position: relative;
    padding: 1rem;
}
.create-user .title{
    font-weight: 600;
    line-height: 4.2;
    text-align: center;
    font-size: 2.7rem;
}
.create-user .form-field{
    margin-top: 15px;
}

// LOGIN
.login-izq{
    height:100vh;
    width: auto;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/5709269/pexels-photo-5709269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}
.login-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('https://blush.design/api/download?shareUri=pXV78aFm4&w=800&h=800&fm=png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12rem;
}
.login-center h1, .login-center h2{
    color: #361F5B;
    font-size: 2rem;
    margin-left: 6rem;
    font-weight: bold;
}
.error-login{
    color: red;
    font-size: 3rem;
}
.login-container{
    justify-content: center;
}
.login-forms{
    width: 100%;
}
.button-green-login{
    background-color: #5FBC94;
    border:1px solid white;
    color: white;
    border-radius: 15px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    width: 60%;
    margin-left: 10rem;
}
.register-login .text-decoration{
    font-size: 1.5rem;
    color: #361F5B;
}

//LOGIN COMMERCE
.login-commerce-izq{
    height:100vh;
    width: auto;
    position: relative;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1594400315019-a03cc9acb85a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
}
// @media (min-width: 992px){
//     .login-center form{
//         padding-left: 8rem;
//     }

//     .form-width{
//         width: 65%;
//     }
// }


// GENERAL FORMS
.form-width{
    width: 100%;
 }

input:hover{
    background-color: #a0b8fc;
}
.profile-head {
    transform: translateY(5rem)
}








