@import url('https://fonts.googleapis.com/css?family=Spartan');

.row{
    background-color: white;
    font-family:'Spartan', sans-serif;
    font-weight: 300;
}

.form-control{
    min-height: 3.125rem;
    line-height: initial;
}

input:hover{
    background-color: #d7f5db;
    
}



