@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
* {
	margin: 0;
	padding: 0;
}
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 1;
	background: url("https://images.unsplash.com/photo-1509803992307-5ed1ac32efda?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") center center / cover no-repeat;
}
.home-title{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font : normal 600 72px/1 'Open Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
}
.home-subtitle{
    margin:auto;
    vertical-align:middle;
}
body{
    background-color:#fcf8f2;
    font-family: 'Open Sans', sans-serif;
}
.site-navigation{
    opacity: 1;
    visibility: inherit;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}
@media (min-width: 1200px){
    .site-navigation{
        padding: 3rem 5.3rem;
    }
}
@media (min-width: 992px){
    .site-navigation{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
@media (min-width: 992px){
    .site-navigation{
        padding: 3rem 3.25rem;
}
}
.navbar.navbar-expand-lg{
    opacity: 1;
    visibility: inherit;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    text-decoration: none;
    color: white;   
}
Link:hover{
    color: green;
}
#carousel{
    border-radius: 10px;
}
.carousel-caption p{
    display: none;
}
.img-mobile{
    width: 77%;
}
@media screen and (max-width: 992px) {
    .img-mobile{
        width: 100%;
    }
}
.card-vertical-v2020{
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 13px 36px 0 #eadfd1;
    justify-content: center;
    margin: auto;
}
.card-vertical-v2020 .card-vertical-v2020--image{
    height: 120px;
}
.card.no-feed{
    background-color: #fcf8f2;
}
.membership.text-decoration-none{
    color: green;
}
.img-zipcode{
    width: 20%;
    height: auto;
}
.maps-container-element{
    height: 400px;
}
.maps-element{
    height: 100%;
}
.leaflet-container{
    width: 500px;
    height: 500px;
}
.my-leaflet-map-container img {
    max-height: none;
}
.map-test{
    width: 500px;
}
.background-home{
    position: relative;
    width: 100%;
    height:700px;
    background-image: url('https://images.unsplash.com/photo-1603056724920-fdecbb3b7d37?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-position: right;
}
.background-home-grd{
    position: absolute;
    width: 100%;
    height:700px;
    background: rgb(246,239,232);
    background: linear-gradient(83deg, rgba(246,239,232,1) 0%, rgba(246,239,232,1) 55%, rgba(255,255,255,0) 81%);

}
.cCVJVf {
    position: absolute;
    inset: auto 0px 0px;
    width: 100%;
    color: inherit;
    fill: currentcolor;
    pointer-events: none;
}
.ddrtzv {
    position: absolute;
    flex: 0 0 auto;
    z-index: 1;
    height: 80px;
    width: 110%;
    bottom: -4px;
    left: -5%;
    right: -5%;
    display: inline-block;
    color: #fcf8f2;
    pointer-events: none;
}
.ddrtzv.home{
    bottom: -142px;
}
@media (max-width: 1088px){
.ddrtzv {
    width: 150%;
    left: -25%;
    right: -25%;
}
@media (min-width: 992px){
.col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
}
.is-inview *{
    font-size: 6rem ;
    
}
.title-feed{
    color: green;
    font-size: 50px;
    
}
}