@import url('https://fonts.googleapis.com/css?family=Spartan');
body{
    background-color: white !important;
    font-family:'Spartan', sans-serif;
}
#carousel{
    border-radius: 10px;
}
.carousel-caption p{
    display: none;
}
.img-mobile{
    width: 77%;
}
@media screen and (max-width: 992px) {
    .img-mobile{
        width: 100%;
    }
}

