
@import url("https://fonts.googleapis.com/css?family=Ubuntu:wght@700");


* {
	margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color:white;
    font-family: 'Ubuntu', sans-serif;
}
.home-izq{
    height:48vh;
    width: auto;
    position: relative;
    background:white;

}
.home-izq .message-content{
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
.home-der{
    height:48vh;
    width: auto;
    opacity: 1;
    background: url("https://images.pexels.com/photos/3772509/pexels-photo-3772509.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center / cover no-repeat;
}
@media (min-width: 768px){
    .home-izq{
        height:100vh;  
      
        
    }
    .home-der{
        height:100vh;
        position: relative;
        width: auto;
        opacity: 1;
        background: url("https://images.pexels.com/photos/3772509/pexels-photo-3772509.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center / cover no-repeat;
    }
    
    .cCVJVf {
        position: absolute;
        inset: auto 0px 0px;
        width: 100%;
        color: inherit;
        fill: currentcolor;
        pointer-events: none;
    }
    .ddrtzv {
        position: absolute;
        flex: 0 0 auto;
        z-index: 1;
        height: 100px;
        width: 101vh;
        top: 0%;
        left: 95px;
        right: -5%;
        display: inline-block;
        color: white;
        pointer-events: none;
        transform-origin: left top;
        transform: rotate(90deg) translateX(0%);
        background-color: transparent;
    }
}
.message-content{
    text-align: center
}
.home-izq .message-content .title-banner{
    font-size: 6rem;
    font-weight: bold;
    color:#361F5B;
    text-align: start;
    margin-left: 3rem;
    line-height: 6rem;
}
.mientras{
    margin-top: 2rem;
    color: #361F5B;
    font-size: 2.5rem;;
}
.home-izq .message-content .message-banner{
    font-size: 2rem;
    text-align: start;
    margin-left: 3rem;
    color: #361F5B;
    line-height: 3rem;
}
.botones-banner{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 3rem;
    margin-top: 3rem;
}
.banner-user-button{
    margin-right: 1rem;
    font-size: 1.25rem;
    padding: 10px 30px;
}
.banner-commerce-button{
    margin-left: 1rem;
    font-size: 1.25rem;
    padding: 10px 30px;
}
.container-principal-msg{
    background-image: url('https://blush.design/api/download?shareUri=tmpdiet_e&w=800&h=800&fm=png');  
}
.home-principal-msg{
    color: #361F5B;
    font-size: 4rem;
    max-width: 1920px;
    margin: 10rem auto;
    text-align: center;
    
}
.fila-sup {
    margin: 10rem 3rem;
}
 .fila-inf{
    margin: 10rem 3rem;
}
.img-landing{
    border-radius: 15px;
    width: 100%;
}
.text-landing-top{
    background-color: aliceblue;
    border-radius: 15px;
    -webkit-box-shadow: -8px 9px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 9px 21px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 9px 21px 0px rgba(0,0,0,0.75);
    height: fit-content;
    margin: 15px 0;
    transform: rotate(-10deg);
}

.text-landing-bottom{
    background-color: aliceblue;
    border-radius: 15px;
    -webkit-box-shadow: -8px 9px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 9px 21px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 9px 21px 0px rgba(0,0,0,0.75);
    height: fit-content;
    margin: 15px 0;
    z-index: 1;
    transform: rotate(10deg);

}
.text-landing{
    padding: 40px;
    
    h3{
        font-size: 2.5rem;
        font-family: 'Ubuntu', sans-serif;
    }
    p{
        font-size: 1.5rem;
    }
}
.three-cards, .three-cards-container{
    background-color: aliceblue;
}

.home-location-div{
    position: relative;
    height: 100vh;
    width: auto;
    background: url("https://images.unsplash.com/photo-1457131760772-7017c6180f05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1336&q=80") center center / cover no-repeat;
}
// .testing{
//     position: absolute;
//     color: black;
//     justify-content: center;
//     text-align: start;
//     font-size: 2rem;
// }

@media (min-width: 1200px){
    .site-navigation{
        padding: 3rem 5.3rem;
    }
}
@media (min-width: 992px){
    .site-navigation{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
@media (min-width: 992px){
    .site-navigation{
        padding: 3rem 3.25rem;
}
}

Link:hover{
    color: green;
}

.img-mobile{
    width: 77%;
}
@media screen and (max-width: 992px) {
    .img-mobile{
        width: 100%;
    }
}
.card-vertical-v2020{
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 13px 36px 0 #eadfd1;
    justify-content: center;
    margin: auto;
}
.card-vertical-v2020 .card-vertical-v2020--image{
    height: 120px;
    height: fit-content;
}

.card-vertical-v2020 .card-vertical-v2020--image img{
     width: 35%;
     margin-top: -1rem;
     padding: 10px 0;    
}

.card-vertical-v2020:hover{
    opacity: 0.6;
}

.membership.text-decoration-none{
    color: green;
}
.img-zipcode{
    width: 20%;
    height: auto;
}
.maps-container-element{
    height: 400px;
}
.maps-element{
    height: 100%;
}
.leaflet-container{
    width: 100%;
    height: 600px;
}

@media (max-width: 768px){
    .ddrtzv {
        display: none;
    }
}
@media (min-width: 992px){
    .col-lg-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
}
.is-inview *{
    font-size: 6rem ;
    
}

