/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css?family=Spartan');

body{
    font-family:'Spartan', sans-serif;
    background-color: #fcf8f2;
}
.navbar{
    color: black  
}
.navbar .nav-item{
    white-space: nowrap;
}
footer{
    white-space: nowrap;
}
.pointer{
    cursor: pointer;
}
.post{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.profile-picture rounded-circle mr-3{
    width: 3rem;
    height: 3rem;
}
.img-fluid{
    height: auto;
    width:100%;
}
.commerces-container{
    height: 190px;
    overflow-y:auto;
}