/* 
    General Styles
*/


body{
    background-color: white;
}
.navbar{
    color: black  
}
.navbar .nav-item{
    white-space: nowrap;
}
footer{
    white-space: nowrap;
}
.pointer{
    cursor: pointer;
}

.profile-picture rounded-circle mr-3{
    width: 3rem;
    height: 3rem;
}
.img-fluid{
    height: auto;
    width:100%;
}
.commerces-container{
    height: 190px;
    overflow-y:auto;
}
.button-purple, .button-green:hover, .button-green-register:hover, .button-green-login:hover{
    background-color: #361F5B;
    color: white;
}
.button-green-register{
    background-color: #74BAE8;
    border:1px solid white;
    color: white;
    border-radius: 15px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    width: 100%;
}
