/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css?family=Spartan');

body{
    font-family:'Spartan', sans-serif;
}
.navbar{
    color: black  
}
.post{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.profile-picture{
    background-image: "https://i.pinimg.com/236x/74/33/fd/7433fd17e0f81426f2a7a66388bba0a9.jpg";
    width: 3rem;
    height: 3rem;
    background-size: cover;
}
.img-fluid{
    height: auto;
    width:100%;
}
.commerces-container{
    height: 190px;
    overflow-y:auto;
}